# Virtual Environments
**/venv/
**/venv311/
**/env/
**/ENV/
**/venv*/
**/.venv/

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/*.so
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/MANIFEST

# Node modules (if not already there)
**/node_modules/

# Environment files
**/.env

# Large model files
**/modeldentifycare.keras
**/*.keras
**/*.h5
**/*.pkl
**/*.joblib
**/*.model
code/teethanalyzer-backend/DentalLens_V6.pth
code/teethanalyzer-backend/TongueVision_Diabetes_Final_v6.pth
code/teethanalyzer-backend/TongueVision_Diabetes_Final_v10.pth
code/teethanalyzer-backend/best.pth
code/teethanalyzer-backend/sam_vit_b_01ec64.pth