@import "tailwindcss";

html,
body {
  font-family: Segoe UI, Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* styles.css or globals.css */
.filter-yellow {
  filter: sepia(1) saturate(4) hue-rotate(10deg);
}
.filter-dark-yellow {
  filter: sepia(1) saturate(5) brightness(0.6) hue-rotate(20deg);
}
